body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }

  .saveBtn {
    border: black;
    background-color: blue;
    color: white;
  }
    
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .past {
    background-color: grey;
    color: white;
  }
  
  .present {
    background-color: red;
    color: white;
  }
  
  .future {
    background-color: green;
    color: white;
  }
  

